

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,body,h1,h1 small{
	font-family: 'Open Sans', sans-serif;
}

h1{
	font-weight:700;
}

.page-header {
	padding-bottom: 0px;
	margin: 28px 0 20px;
}

#template-carousel{
	display:none;
}

#template-quotes{
	display:none;
}

#template-quotes .quote{
	width:100%;
}

#template-quotes blockquote{
	font-size:.8em;
}

.circle-logo-32{
	background-image: url(//lh6.googleusercontent.com/-1DhBDxNbYhY/AAAAAAAAAAI/AAAAAAAAAAA/gAdqpWtOPYA/s32-c/photo.jpg);
	background-size: 32px 32px;
	border-radius: 50%;
	display: block;
	margin: -1px;
	height: 32px;
	width: 32px;
}

.navbar-default {
	background-color: #000;
}

blockquote.pull-right{
	border-right:0px;
	padding-left:15px;
}

#skills-accordion .skill{
	text-align:center;
	padding-top:14px;
	padding-bottom:14px;
}

.panel-title i.fa{
	width:20px;
	margin-right:18px;
}

div.skill a{
	text-decoration: none;
}
div.skill a img{
	text-decoration: none;
	border:0;
}