

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,body,h1,h1 small{
	font-family: 'Open Sans', sans-serif;
}

h1{
	font-weight:700;
}

.page-header {
	padding-bottom: 0px;
	margin: 28px 0 20px;
}

#template-carousel{
	display:none;
}

#template-quotes{
	display:none;
}

#template-quotes .quote,
#template-testimonials .quote{
	/*width:100%;*/
}

#template-quotes blockquote{
	font-size:.8em;
}

#template-testimonials blockquote{
	font-size:.9em;
}

#template-testimonials .testimonial {
	min-height:180px;
	position:relative;
}

#template-testimonials .testimonial small {
	font-size:9px;
	display: block;
	width: 100px;
    text-align: center;
    margin-top: 2px;
    margin-left: -18px;
}

#template-testimonials .testimonial small.first {
	margin-top:18px;
	font-size:12px;
}

#template-testimonials .testimonial .person-thumb {
	display:block;
	margin-top:28px;
}

#template-testimonials .testimonial .companyImage {
	position:absolute;
	top: 66px;
    left: 14px;
}

#template-testimonials .testimonial .companyImage img {
	width:64px;
}

.circle-logo-32{
	background-image: url(//lh6.googleusercontent.com/-1DhBDxNbYhY/AAAAAAAAAAI/AAAAAAAAAAA/gAdqpWtOPYA/s32-c/photo.jpg);
	background-size: 32px 32px;
	border-radius: 50%;
	display: block;
	margin: -1px;
	height: 32px;
	width: 32px;
}

.circle-logo-64{
	background-size: 64px 64px;
	border-radius: 50%;
	display: block;
	margin: -1px;
	height: 64px;
	width: 64px;
}

.navbar-default {
	background-color: #000;
}

blockquote.pull-right{
	border-right:0px;
	padding-left:15px;
}

#skills-accordion .skill{
	text-align:center;
	padding-top:14px;
	padding-bottom:14px;
}

.panel-title i.fa{
	width:20px;
	margin-right:18px;
}

div.skill a{
	text-decoration: none;
}
div.skill a img{
	text-decoration: none;
	border:0;
}

.panel-heading:hover{
	background-color:#585858;
	/*background-color:#28415b;*/
}

/*.panel-heading.active{
	background-color:#28415b;
}*/

.panel-heading{
	cursor:pointer;
}

.panel-heading .badge{
	visibility: hidden;
	background:transparent;
}
.panel-title a{
	text-decoration: none;
}

.navbar-header{
	position:relative;
}

.navbar-load{
	visibility:hidden;
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 9px 10px;
	margin-top: 13px;
	background-color: transparent;
}

@media (max-width: 991px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.navbar-load{
		margin-right:58px;
		padding: 0px;
		margin-top: -36px;
	}
	.carousel-indicators{
		display:none;
	}
}

#template-navbar{
	margin-top:-80px;
}



label{
	font-weight:normal !important;
}



.h1 small {
font-size: 24px;
}

.input-group{
	width:100%;
}

/*.input-group label.error{
	position:absolute;
	top: -26px;
	right: 4px;
	color:red;
	font-style: italic;
	z-index: 2;
}*/

.input-group-addon{
	background-color: #28415b;
	width:44px;
}

.select2-container .select2-choice{
	height:40px;
	border-radius:4px;
}

.form-control{
	border-radius:4px;
}

/*.select2-arrow{
	width:46px !important;
	background: #28415b !important;
}

.select2-arrow b{
	background:transparent !important;
}*/

.select2-arrow{
	width:0px !important;
}

.select2-search-choice-close{
	display:none !important;
}

.select2-highlighted{
	background: #28415b !important;
}

.select2-chosen{
	line-height:40px;
}

.contact-form .alert-success{
	display:none;
	margin-top:200px;
}
@media only screen and (max-width : 991px) {
.contact-form .alert-success{
	margin-top: -50px;
}
}

#contact-ajax-error{
  color:#e74c3c;
  line-height: 42px;
  padding-right: 24px;
}

.portfolio .thumb{
	border:1px solid transparent;
}

.portfolio .thumb:hover{
	border:1px solid #0ce3ac;
}

.portfolio .caption{
	margin-bottom:32px;
	height:120px;
}

.portfolio .caption p{
	font-size: .8em;
}

#page-experience .techs .tech {
	text-align:center;
	font-size:8px !important;
}
#page-experience .techs .tech a img {
	width:40px;
}

#page-experience .logo {
	font-size:9px;
	text-align: center;
}

#page-experience .techs {
	/*opacity: 0;*/
	display: none;
}