<div class="carousel slide" id="carousel-202406">
	<ol class="carousel-indicators">
		{{#each items}}
		<li class="{{#if @first}}active{{/if}}" data-slide-to="{{@index}}" data-target="#carousel-202406">
		</li>
		{{/each}}
	</ol>
	<div class="carousel-inner">
	{{#each items}}
	<div class="item {{#if @first}}active{{/if}}">
		<a href="{{url}}" target="_blank"><img src="{{../cdnbase}}{{img}}"></a>
	</div>
	{{/each}}
	</div> 

	<a class="left carousel-control" href="#carousel-202406" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-202406" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>