<div class="panel-group" id="experience-accordion">
  
  	{{#each experience}}
	<div class="panel panel-default">

	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#experience-accordion" href="#experience-accordion-{{id}}">
	          <i class="fa {{fa-icon}}"></i> {{title}}, {{company}}
	        </a>
	        <span class="badge"><i class="fa fa-spinner fa-spin"></i></span>
	      </h4>
	    </div>
	    <div id="experience-accordion-{{id}}" class="panel-collapse collapse">
	      <div id="experience-{{id}}" class="panel-body"></div>
	    </div>
	</div>
	{{/each}}

</div>