<div class="row">
	<div class="col-md-1 logo">
		<a href="{{url}}" target="_blank">
			<img src="img/logos/{{img}}" alt="{{company}}" title="{{company}}" />
		</a>
		<br>{{city}}, {{state}}
	</div>
	<div class="col-md-11 bullets">
		<ul>
			{{#each bullets}}
			<li>{{text}}</li>
			{{/each}}
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-1 logo"></div>
	<div class="col-md-11 techs">
		{{#each techs}}
		<div class="col-md-1 tech skill">
		  <a target="_blank" href="{{url}}">
		    <img src="img/logos/{{logo}}" alt="{{tech}}" title="{{tech}}" />
		  </a>
		  <!-- <br>{{tech}} -->
		</div>
		{{/each}}
	</div>
</div>