<div class="panel-group" id="skills-accordion">
 
{{#each sets}}
  <div class="panel skillset {{key}} panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#skills-accordion" href="#skills-accordion-{{key}}">
          <i class="fa {{fa-icon}}"></i> {{name}}
        </a>
      </h4>
    </div>
    <div id="skills-accordion-{{key}}" class="panel-collapse collapse">
      <div class="panel-body">
        
        {{#each skills}}
        <div class="col-md-3 skill">
          <a target="_blank" href="{{url}}">
            <img src="img/logos/{{img}}" alt="{{name}}" title="{{name}}" />
          </a>
          <br>{{name}}
        </div>
        {{/each}}
        
      </div>
    </div>
  </div>
{{/each}}

<!-- static content

  <div class="panel skillset panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#skills-accordion" href="#skills-accordion-learning">
          <i class="fa fa-graduation-cap"></i> Learning<span class="dots"></span>
        </a>
      </h4>
    </div>
    <div id="skills-accordion-learning" class="panel-collapse collapse">
      <div class="panel-body">

        

        <div class="col-md-3 skill">
          <img src="img/logos/mongodb.png" alt="mongoDB" title="mongoDB" />
          <br>MongoDB
        </div>

        <div class="col-md-3 skill">
          <img src="img/logos/express.png" alt="express" title="express" />
          <br>Express
        </div>

        <div class="col-md-3 skill">
          <img src="img/logos/angular.png" alt="angular" title="angular" />
          <br>Angular
        </div>


        <div class="col-md-3 skill">
          <img src="img/logos/nodejs.png" alt="node.js" title="node.js" />
          <br>Node.js
        </div>

        <div class="col-md-3 skill">
          <img src="img/logos/bower.png" alt="bower" title="bower" />
          <br>Bower
        </div>

        <div class="col-md-3 skill">
          <img src="img/logos/backbone.png" alt="backbone" title="backbone" />
          <br>Backbone.js
        </div>

        <div class="col-md-3 skill">
          <img src="img/logos/ember.png" alt="ember" title="ember" />
          <br>Ember.js
        </div>

        <div class="col-md-3 skill">
          <img src="img/logos/cordova.png" alt="phonegap" title="phonegap" />
          <br>Cordova / PhoneGap
        </div>

      </div>
    </div>
  </div>
-->
</div>